html {
    height: 100%;
}

div#menu {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.margin {
    margin: 5px;   
}

div#new-game {
    width: 48%;
    float: left;
}

form#join-game {
    width: 48%;
    float: right;
	margin-top: 10px;
}

button#join-game-btn {
    float: left;
    margin-top: 5px;
}

button#new-game-btn {
	float: right;
    margin-top: 49px;
}

.ng-invalid.ng-dirty {
  border-color: red;
  outline-color: red;
}

.ng-valid.ng-dirty {
  border-color: green;
  outline-color: green;
}

div#leaderthings {
	margin-top: 15px;
	margin-bottom: 15px;
}

div.game-div {
    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
}

button.person-button {
    margin-right: 2px;
    margin-left: 2px;
    min-width: 50px;
}
