<div>
    <div id="menu">
        <h1>Welcome to teh Mafia...</h1>
        <input type="text" name="username" ng-model="username" ng-change="validateUsername()" placeholder="Enter username" class="form-control margin">
        
        <div id="new-game" class="margin">
        </div>
        
        <form id="join-game" name="joinGame"> 
            
            <input type="text" name="gameID" ng-model="gameID" ng-required="joinMouseOver" ng-minLength="8" ng-maxLength="8" ng-pattern="/^[0-9A-Fa-f]+$/" class="form-control margin" placeholder="Enter game code">
            
            <button id="join-game-btn" ng-mouseenter="joinMouseOver=true" ng-mouseleave="joinMouseOver=false" class="btn btn-default margin" ng-disabled="!joinGame.gameID.$valid">Join Game</button>
        </form>
        
    </div>
</div>