<div id="game" align="left" ng-show="!data.setup" class="game-div">
	<h1 id="time">It is currently {{day?"day":"night"}} time.</h1>
	<div>
		<h3 id="action" ng-show="hasAction()">{{ data.you.role.action }}</h3>
		<button ng-repeat="o in data.players" type="button" btn-checkbox ng-disabled="!o.alive || !hasAction()" ng-class="{'btn': true, 'btnPrimary': true, 'personButton': true, 'active': o.name === data.you.selection}" ng-click="personClick(o)">
			{{ o.name }}
		</button>
		<div id="selections" ng-show="data.you.role.consensus && data.you.role.number > 1">
			<h1 ng-repeat="p in players | filter: showSelection">{{ p.name }}: {{ p.selection !== undefined ? "" : p.selection }}</h1>
		<div>
	</div>
	<h2>You:</h2>
	<div>
		<p>
			Name: {{ data.you.name }} <br>
			Role: {{ data.you.role.name }} <br>
		</p>
	</div>
</div>
