html {
    height: 100%;
}

div#menu {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.margin {
    margin: 5px;   
}

div#new-game {
    width: 48%;
    float: left;
}

form#join-game {
    width: 48%;
    float: right;
}

button#join-game-btn {
    float: right;
}

.ng-invalid.ng-dirty {
  border-color: red;
  outline-color: red;
}
.ng-valid.ng-dirty {
  border-color: green;
  outline-color: green;
}